<h3>Testapp</h3>
<p>test</p>

<p>testtest</p>

<p>testtest</p>

<%= link_to new_user_session_path do %>
  <span>Log in</span>
<% end %>

<%= link_to new_user_registration_path do %>
  <span>Sign Up</span>
<% end %>